TELEGRAM_BOT_TOKEN=
GEMINI_API_KEY=
PAYMENT_GATEWAY_URL=https://payment-gateway-87gk.onrender.com/api/create-order
PAYMENT_GATEWAY_TOKEN=
PAYMENT_REDIRECT_URL=https://yoursite.com/payment-success
FAMPAY_API_KEY=
FAMPAY_UPI_ID=8056317218@fam